<div class="product-show">
  <div class="product-show-inner">

    <div class="product-show-image">
      <% if @product.main_image&.attached? %>
        <%= image_tag @product.main_image, alt: @product.name %>
      <% else %>
        <div class="product-image-placeholder">
          <span>No image yet</span>
        </div>
      <% end %>
    </div>

    <div class="product-show-details">
      <p class="product-show-breadcrumb">
        <%= link_to "Home", root_path %> /
        <%= link_to "All Products", products_path %> /
        <span><%= @product.name %></span>
      </p>

      <h1 class="product-show-name"><%= @product.name %></h1>
      <p class="product-show-brand"><%= @product.brand %></p>

      <p class="product-show-price">
        <%= number_to_currency(@product.price || 0) %>
      </p>

      <% if @product.on_sale? || @product.new_arrival? %>
        <div class="product-show-tags">
          <% if @product.on_sale? %>
            <span class="tag tag-sale">On Sale</span>
          <% end %>
          <% if @product.new_arrival? %>
            <span class="tag tag-new">New</span>
          <% end %>
        </div>
      <% end %>

      <p class="product-show-description">
        <%= @product.description.presence || "Beautiful product coming soon. Description not added yet." %>
      </p>

      <div class="product-show-actions">
        <a href="#" class="btn-primary">Add to Cart</a>
        <%= link_to "Back to all products", products_path, class: "btn-outline" %>
      </div>
    </div>

  </div>
</div>

