<!DOCTYPE html>
<html>
  <head>
    <title>Beauty Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/header" %>

    <main class="page-content">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>

